<h1>Welcome</h1>
	<p>レビューアプリへようこそ</p>
	<p>商品作成はこちら<a href="/products">→ Products</a></p>
	<p>[New Product]をクリックして作成してください。</p>
	<p>※Products = 商品やサービスなど</p>
	<p>[review]その商品のレビュー一覧が見れます。レビューの編集・削除もここからできます</p>
	<p>[Source]投稿用とレビュー表示用のソースが取得できます。HTMLやCSSに詳しくない場合は、加工せずにそのままコピペで使ってください。投稿用はまっさらなHTMLに貼り付けても使えます。レビュー表示用は、販売ページなどに貼り付ければ使えます。</p>
	<p>[show][edit]は特に使いません。商品名を変えたければeditで。</p>
	<p>[destroy]は商品を削除します。注意してください。</p>
