<p id="notice"><%= notice %></p>

<h2>Post Source</h2>

<pre class="prettyprint linenums"><code>

&lt;form class="new_reviewer" id="new_reviewer" action="http://review31.herokuapp.com/reviewers" accept-charset="UTF-8" method="post"&gt;&lt;input name="utf8" type="hidden" value="&#x2713;" /&gt;

  &lt;div class="field"&gt;
    &lt;label for="reviewer_name"&gt;Name&lt;/label&gt;&lt;span class="text-danger"&gt;（必須）&lt;/span&gt;&lt;br&gt;
    &lt;input type="text" name="reviewer[name]" id="reviewer_name" /&gt;
  &lt;/div&gt;
  &lt;div class="field"&gt;
    &lt;label for="reviewer_star"&gt;Star&lt;/label&gt;&lt;span class="text-danger"&gt;（必須）&lt;/span&gt;&lt;br&gt;
    &lt;input type="number" name="reviewer[star]" id="reviewer_star" /&gt;
  &lt;/div&gt;

  &lt;div class="field"&gt;
    &lt;label for="reviewer_comment"&gt;Comment&lt;/label&gt;&lt;span class="text-danger"&gt;（必須）&lt;/span&gt;&lt;br&gt;
    &lt;input type="text" name="reviewer[comment]" id="reviewer_comment" /&gt;
  &lt;/div&gt;

&lt;input name="reviewer[product_id]" type="hidden" value="<%= @productid.id %>" /&gt;
  
  &lt;div class="actions"&gt;
    &lt;input type="submit" name="commit" value="Create Reviewer" /&gt;
  &lt;/div&gt;
&lt;/form&gt;

</code></pre>



<h2>Reviewer Source</h2>

<pre class="prettyprint linenums"><code>

&lt;table cellpadding="0" cellspacing="0" border="0" class="tbl"&gt;
&lt;col width="15%" /&gt;
&lt;col width="15%" /&gt;
&lt;col width="70%" /&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th&gt;&lt;/th&gt;
&lt;td&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
  $("table.tbl tbody").html("");
  $.getJSON("http://review31.herokuapp.com/products/<%= @productid.id %>/reviewers.json", function(data){
    $(data).each(function(){
      $('&lt;tr&gt;'+
      '&lt;td class="label"&gt;' + this.name + '&lt;/span&gt;&lt;/td&gt;'+
        '&lt;td class="label"&gt;' + this.star + '&lt;/span&gt;&lt;/td&gt;'+
        '&lt;td class="label"&gt;' + this.comment + '&lt;/span&gt;&lt;/td&gt;'+
        this.comment + '&lt;/span&gt;&lt;/td&gt;'+
    '&lt;/tr&gt;').appendTo('table.tbl tbody');
    })
  })
});
&lt;/script&gt;


</code></pre>
