<script language="javascript">
/* JavaScript by ARTMEIS */
function DoCopy(name,form,sw){
    form[name].select();
    if( document.all && self.clipboardData){
        if(clipboardData.setData('text',document.all(name).innerText) && sw){ alert('コピーしました'); }
    }
}
</script>

<p id="notice"><%= notice %></p>

<h2>Post Source</h2>

<form><textarea class="form-control" name="post_source" style="width:600px;height:400px;">
<link rel="stylesheet" href="http://pine.jpn.com/bootstrap/css/bootstrap.min.css">
<form class="new_reviewer" id="new_reviewer" action="http://review31.herokuapp.com/reviewers" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />

  <div class="field">
    <label for="reviewer_name">Name</label><span class="text-danger">（必須）</span><br>
    <input type="text" name="reviewer[name]" id="reviewer_name" />
  </div>
  <div class="field">
    <label for="reviewer_star">Star</label><span class="text-danger">（必須）</span><br>
    <input type="number" name="reviewer[star]" id="reviewer_star" />
  </div>

  <div class="field">
    <label for="reviewer_comment">Comment</label><span class="text-danger">（必須）</span><br>
    <input type="text" name="reviewer[comment]" id="reviewer_comment" />
  </div>

<input name="reviewer[product_id]" type="hidden" value="<%= @productid.id %>" />
  
  <div class="actions">
    <input type="submit" name="commit" value="Create Reviewer" />
  </div>
</form></textarea>

<input type="button" class="btn change" onclick="DoCopy('post_source',this.form,0)" value="Select" style="margin-top:20px;" />



<h2>Reviewer Source</h2>

<textarea class="form-control" name="review_source" style="width:600px;height:400px;"><link rel="stylesheet" href="http://pine.jpn.com/reviewer_app/bootstrap/css/bootstrap.min.css">
<div class="review_box">
<div>
</div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
$(function(){
  $("div.review_box div").html("");
  $.getJSON("http://review31.herokuapp.com/products/<%= @productid.id %>/reviewers.json", function(data){
    $(data).each(function(){
      $('<div class="star_point"><img src="http://pine.jpn.com/reviewer_app/image/star' + this.star + '.png"></div>'+
        '<div class="reviewer_name">' + this.name + '</div>'+
        '<div class="reviewer_comment">' + this.comment + '</div>'+
        '<div class="created_at">' + this.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[post.created_at.wday]})")  + '</div>').appendTo('div.review_box div');
    })
  })
});
</script></textarea>

<input type="button" class="btn change" onclick="DoCopy('review_source',this.form,0)" value="Select" style="margin-top:20px;"/>

</form>