<script language="javascript">
/* JavaScript by ARTMEIS */
function DoCopy(name,form,sw){
    form[name].select();
    if( document.all && self.clipboardData){
        if(clipboardData.setData('text',document.all(name).innerText) && sw){ alert('コピーしました'); }
    }
}
</script>

<p id="notice"><%= notice %></p>

<h2>Post Source</h2>

<form><textarea class="form-control" name="post_source" style="width:600px;height:400px;">
&lt;link rel="stylesheet" href="http://pine.jpn.com/reviewer_app/bootstrap/css/bootstrap.min.css">
&lt;form class="new_reviewer" id="new_reviewer" action="http://review31.herokuapp.com/reviewers" accept-charset="UTF-8" method="post" style="margin:20px; width:500px;">
&lt;input name="utf8" type="hidden" value="✓" />
&lt;div class="form-group">
  &lt;label for="reviewer_name">お名前&lt;span class="text-danger">（必須）&lt;/span>&lt;/label>
  &lt;input type="text" class="form-control" id="reviewer_name" name="reviewer[name]" placeholder="例）山田太郎">
&lt;/div>
&lt;div class="form-group">
  &lt;label for="reviewer_star">星の数&lt;span class="text-danger">（必須）&lt;/span>&lt;/label>
  &lt;select class="form-control" name="reviewer[star]" id="reviewer_star">
    &lt;option value="5">★★★★★&lt;/option>
    &lt;option value="4">★★★★☆&lt;/option>
    &lt;option value="3">★★★☆☆&lt;/option>
    &lt;option value="2">★★☆☆☆&lt;/option>
    &lt;option value="1">★☆☆☆☆&lt;/option>
  &lt;/select>
&lt;/div>
&lt;div class="form-group">
  &lt;label for="reviewer_comment">Comment&lt;span class="text-danger">（必須）&lt;/span>&lt;/label>
  &lt;textarea class="form-control" name="reviewer[comment]" id="reviewer_comment" rows="6">&lt;/textarea>
&lt;/div>
&lt;input name="reviewer[product_id]" type="hidden" value="<%= @productid.id %>" />
&lt;input name="reviewer[vote_y]" type="hidden" value="0" />
&lt;input name="reviewer[vote_n]" type="hidden" value="0" />
&lt;input name="reviewer[hide]" type="hidden" value="false" />
&lt;div class="actions">
  &lt;input type="submit" name="commit" value="レビューを投稿する" class="btn btn-default btn-primary" />
&lt;/div>
&lt;/form>

&lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">&lt;/script>
&lt;script src="http://pine.jpn.com/reviewer_app/bootstrap/js/bootstrap.min.js">&lt;/script></textarea>

<input type="button" class="btn change" onclick="DoCopy('post_source',this.form,0)" value="Select" style="margin-top:20px;" />



<h2>Reviewer Source</h2>

<textarea class="form-control" name="review_source" style="width:600px;height:400px;">&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js">&lt;/script>
&lt;script type="text/javascript" src="http://pine.jpn.com/reviewer_app/pagenate/jquery.simplePagination.js">&lt;/script>
&lt;link type="text/css" rel="stylesheet" href="http://pine.jpn.com/reviewer_app/pagenate/simplePagination.css"/>
&lt;link rel="stylesheet" href="http://pine.jpn.com/reviewer_app/bootstrap/css/bootstrap.min.css">
&lt;link rel="stylesheet" href="http://pine.jpn.com/reviewer_app/css/reviewer.css">
&lt;script type="text/javascript">
productId = <%= @productid.id %>;
item = 5;
&lt;/script>
&lt;script src="http://pine.jpn.com/reviewer_app/js/reviewer.js">&lt;/script>

&lt;div>
&lt;div class="review_box">&lt;/div>
&lt;div id="paging" style="margin-left: 20px;">&lt;/div>
&lt;/div></textarea>

<input type="button" class="btn change" onclick="DoCopy('review_source',this.form,0)" value="Select" style="margin-top:20px;"/>

</form>